name: schedule-actions
on: 
  schedule:
    - cron: 0 12 * * *
  workflow_dispatch: # Allows manual trigger from Github UI
jobs:
  build-job:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      id-token: write     # OIDC npm
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: scripts/install
      - run: git config user.name github-actions
      - run: git config user.email github-actions@github.com
      - run: npm run build
